In [1]:
print("buongiorno sie pisze a nie")

buongiorno sie pisze a nie

In [21]:
import pandas as pd
import numpy as np

In [3]:
train = pd.read_csv('training.csv')

test = pd.read_csv('test.csv')

# Data Exploring

Data contains records of some car sales - our goal is to determine whether the bought car is a lemon or not

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72983 entries, 0 to 72982
Data columns (total 34 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   RefId                              72983 non-null  int64
 1   IsBadBuy                           72983 non-null  int64
 2   PurchDate                          72983 non-null  object
 3   Auction                            72983 non-null  object
 4   VehYear                            72983 non-null  int64
 5   VehicleAge                         72983 non-null  int64
 6   Make                               72983 non-null  object
 7   Model                              72983 non-null  object
 8   Trim                               70623 non-null  object
 9   SubModel                           72975 non-null  object
 10  Color                              72975 non-null  object
 11  Transmission                       72974 non-null  object
 12  WheelTypeID                        69814 non-null  float64
 13  WheelType                          69809 non-null  object
 14  VehOdo                             72983 non-null  int64
 15  Nationality                        72978 non-null  object
 16  Size                               72978 non-null  object
 17  TopThreeAmericanName               72978 non-null  object
 18  MMRAcquisitionAuctionAveragePrice  72965 non-null  float64
 19  MMRAcquisitionAuctionCleanPrice    72965 non-null  float64
 20  MMRAcquisitionRetailAveragePrice   72965 non-null  float64
 21  MMRAcquisitonRetailCleanPrice      72965 non-null  float64
 22  MMRCurrentAuctionAveragePrice      72668 non-null  float64
 23  MMRCurrentAuctionCleanPrice        72668 non-null  float64
 24  MMRCurrentRetailAveragePrice       72668 non-null  float64
 25  MMRCurrentRetailCleanPrice         72668 non-null  float64
 26  PRIMEUNIT                          3419 non-null   object
 27  AUCGUART                           3419 non-null   object
 28  BYRNO                              72983 non-null  int64
 29  VNZIP1                             72983 non-null  int64
 30  VNST                               72983 non-null  object
 31  VehBCost                           72983 non-null  float64
 32  IsOnlineSale                       72983 non-null  int64
 33  WarrantyCost                       72983 non-null  int64
dtypes: float64(10), int64(9), object(15)
memory usage: 18.9+ MB

In [5]:
train.head()

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,3,0,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
3,4,0,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
4,5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020

# Data processing

In [6]:
train["PurchDate"] = pd.to_datetime(train["PurchDate"])

In [7]:
train.head()

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,0,2009-12-07,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,2,0,2009-12-07,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,3,0,2009-12-07,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
3,4,0,2009-12-07,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
4,5,0,2009-12-07,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020

In [8]:
# advanced data processing
train = train._get_numeric_data()
train = train.fillna(0)

In [9]:
test = test._get_numeric_data()
test = test.fillna(0)

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72983 entries, 0 to 72982
Data columns (total 19 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   RefId                              72983 non-null  int64
 1   IsBadBuy                           72983 non-null  int64
 2   VehYear                            72983 non-null  int64
 3   VehicleAge                         72983 non-null  int64
 4   WheelTypeID                        72983 non-null  float64
 5   VehOdo                             72983 non-null  int64
 6   MMRAcquisitionAuctionAveragePrice  72983 non-null  float64
 7   MMRAcquisitionAuctionCleanPrice    72983 non-null  float64
 8   MMRAcquisitionRetailAveragePrice   72983 non-null  float64
 9   MMRAcquisitonRetailCleanPrice      72983 non-null  float64
 10  MMRCurrentAuctionAveragePrice      72983 non-null  float64
 11  MMRCurrentAuctionCleanPrice        72983 non-null  float64
 12  MMRCurrentRetailAveragePrice       72983 non-null  float64
 13  MMRCurrentRetailCleanPrice         72983 non-null  float64
 14  BYRNO                              72983 non-null  int64
 15  VNZIP1                             72983 non-null  int64
 16  VehBCost                           72983 non-null  float64
 17  IsOnlineSale                       72983 non-null  int64
 18  WarrantyCost                       72983 non-null  int64
dtypes: float64(10), int64(9)
memory usage: 10.6 MB

# Model

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix

In [12]:
y = train['IsBadBuy']
del train['IsBadBuy']

In [13]:
X_train, X_val, y_train, y_val = train_test_split(train,
                                                    y,
                                                    test_size=0.3,
                                                    random_state=2137,
                                                    stratify=y)

# Random Forest

In [14]:
from sklearn.ensemble import RandomForestClassifier

In [15]:
rf_model = RandomForestClassifier(n_estimators=120)
rf_model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=120)

In [16]:
y_pred = rf_model.predict(X_val)

In [17]:
print(classification_report(y_pred, y_val))

              precision    recall  f1-score   support

           0       0.99      0.90      0.95     21092
           1       0.24      0.81      0.37       803

    accuracy                           0.90     21895
   macro avg       0.62      0.86      0.66     21895
weighted avg       0.96      0.90      0.92     21895

In [18]:
confusion_matrix(y_val, y_pred)

array([[19049,   153],
       [ 2043,   650]], dtype=int64)

In [19]:
y = rf_model.predict(test)

In [ ]:
pd.DataFrame(y, columns=["IsBadBuy"]).join(test["RefId"]).to_csv("out.csv", index=False)